// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
$form-floating-padding-y:-11115px; 
$form-floating-height: 36px; 
$form-floating-padding-x:1165px; 
$form-floating-input-padding-t:1.2rem; 
$form-floating-input-padding-b:1.2rem; 
$form-floating-transition:opacity .1s ease-in, transform 1s ease-in; 


@import 'bootstrap/scss/bootstrap';



